extends layout

block content
  h1 #{title}

  form(action="/profile" method="POST")
    .form-group
      label(for="first_name") First Name
      input(type="text" name="first_name" id="first_name" value=user.first_name)
    .form-group
      label(for="last_name") Last Name
      input(type="text" name="last_name" id="last_name" value=user.last_name)
    .form-group
      label(for="email") Email Address
      input(type="email" name="email" id="email" value=user.email)
    .form-group
      label(for="phone_number") Phone Number
      input(type="phone_number" name="phone_number" id="phone_number" value=user.phone_number)    
    .form-group
      label(for="password") Password
      input(type="password" name="password" id="password")
    .form-group
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm" id="password-confirm")
    input(type="hidden" name="user_id" value=user._id)
    input(type="submit" value="Register")