mixin recipeForm(recipe = {})
  form.form--recipe(action=`/recipes/${recipe._id || 'create'}` method="POST")
    div.form-group
      label(for="name") Recipe name
      input(type="text" name="name" id="name" value=recipe.name v-model="title")
    div.form-group
      - const dish_type = recipe.dish_type || []
      each type in h.dish_types
        input(type="checkbox" value=`${type}` name="dish_type" checked=(dish_type.includes(type)) id=`${type}`)
        label(for=`${type}`) #{type}
    if recipe.ingredients
      - let i = 0;
      each ingredient, index in recipe.ingredients
        - i++;
        div.form-group
          label(for=`ingredient-${index}`) Ingredient #{number}
          input(type="text" name="ingredients" id=`ingredient-${index}` value=ingredient)  
          if (i > recipe.ingredients.length - 1)
            button.add-ingredient +
          else
            button.remove-ingredient -
    else
      div.form-group(v-for="ingredient in allIngredients")
        label(for="ingredient") Ingredient
        input(type="text" name="ingredients" id="ingredient" value=ingredient)
        button.add-ingredient(v-on:click="newIngredient") +
    input(type="submit" value="Add Recipe to Database")